<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>用户查询</title>
    <link rel="stylesheet" href="static/css/index.css"/>
    <link rel="stylesheet" href="static/css/style.css"/>
</head>
<body>
<div id="app">
    <el-row class="panel">
        <el-col :span="24" class="panel-top">
            <el-col :span="20" style="font-size:26px;">
                <img src="static/image/logo4.png" class="logo"/>
                <span>C<i style="color:#20a0ff">MS</i></span>
            </el-col>
            <el-col :span="4">
                <el-tooltip class="item tip-logout" effect="dark" content="退出" placement="bottom"
                            style="padding:0px;">
                    <i class="fa fa-sign-out" aria-hidden="true" v-on:click="logout"></i>
                </el-tooltip>
            </el-col>
        </el-col>
        <el-col :span="24" class="panel-center">
            <aside style="width:230px;">
                <h5 class="admin"><i class="fa fa-user" aria-hidden="true"
                                     style="margin-right:5px;"></i>欢迎系统管理员：测试</h5>
                <el-menu style="border-top: 1px solid #475669;" default-active="/table"
                         class="el-menu-vertical-demo" v-on:open="handleopen"
                         v-on:close="handleclose" v-on:select="handleselect" theme="dark">
                    <template v-for="(item,index) in $router.options.routes" v-if="!item.hidden">
                        <el-submenu :index="index+''" v-if="!item.leaf">
                            <template slot="title"><i :class="item.iconCls"></i>{{item.name}}
                            </template>
                            <el-menu-item v-for="child in item.children" :index="child.path">
                                {{child.name}}
                            </el-menu-item>
                        </el-submenu>
                        <el-menu-item v-if="item.leaf&&item.children.length>0" :index="item.children[0].path">
                            <i :class="item.iconCls"></i>{{item.children[0].name}}
                        </el-menu-item>
                    </template>
                </el-menu>
            </aside>
            <section class="panel-c-c">
                <div class="grid-content bg-purple-light">
                    <el-col :span="24" style="margin-bottom:15px;">
                        <strong style="width:200px;float:left;color: #475669;">{{currentPathName}}</strong>
                        <el-breadcrumb separator="/" style="float:right;">
                            <el-breadcrumb-item :to="{ path: '/table' }">首页</el-breadcrumb-item>
                            <el-breadcrumb-item v-if="currentPathNameParent!=''">
                                {{currentPathNameParent}}
                            </el-breadcrumb-item>
                            <el-breadcrumb-item v-if="currentPathName!=''">{{currentPathName}}
                            </el-breadcrumb-item>
                        </el-breadcrumb>
                    </el-col>
                    <el-col :span="24" style="background-color:#fff;box-sizing: border-box;">
                        <transition name="fade">
                            <router-view></router-view>
                        </transition>
                    </el-col>
                </div>
            </section>
        </el-col>
    </el-row>
</div>
</body>
<script src="static/js/vue.min.js"></script>
<script src="static/js/index.js"></script>
<script>
    new Vue({
        el: '#app',
        data: function () {
            return {
                currentPathName: 'Table',
                currentPathNameParent: '导航一',
                form: {
                    name: '',
                    region: '',
                    date1: '',
                    date2: '',
                    delivery: false,
                    type: [],
                    resource: '',
                    desc: ''
                }
            }
        },
        methods: {
            onSubmit: function () {
                console.log('submit!');
            },
            handleopen: function () {
                //console.log('handleopen');
            },
            handleclose: function () {
                //console.log('handleclose');
            },
            handleselect: function (a, b) {
            },
            //退出登录
            logout: function () {

            }
        }
    })
</script>
</html>