<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>test</title>
    <style type="text/css">
    body {
        background: #000;
    }
    
    .loading-bubbles {
        display: table-cell;
        vertical-align: middle;
    }
    
    .loading-div {
        display: table;
        width: 100%;
        min-height: 100vh;
        text-align: center;
    }
    
    
    </style>
</head>

<body>
    <div class="table">
        <div class="loading-bubbles">
            <img src="../static/image/loading-spinning-bubbles.svg" width="64" height="64">
        </div>
    </div>
    <!-- <div class="loading-bubbles">
        <img src="../static/image/loading-spinning-bubbles.svg" class="bubbles" width="64" height="64">
    </div> -->
</body>

</html>
